@import "../../styles/_mixins";

.user {
  width: 100%;

  .userInfo {
    @include flex-center(space-between);
    gap: 30px;
    margin-bottom: 10px;

    img {
      border-radius: 4px;
      width: 150px;
    }

    .userDescription {
      width: 100%;

      .name {
        font-size: 24px;
      }
    }

    .bio {
      width: 250px;
    }

    .noBio {
      font-style: italic;
      color: #bdb2b2;
      font-size: 12px;
    }
  }

  a {
    color: black;
  }
}